<h1>Editing Image</h1>
<div class="edit-image">
    <%=link_to image_tag(@image.file.url(:thumb)), @image%>
    <h3>Add some tags</h3>
    <table class="tag-cloud dark editable">
      <tr>
        <th>
          Sailor
        </th>
        <td>
          <%sailors.each do |tag| %>
            <%=toggle_tag tag%>
          <%end%>
        </td>
      </tr>
      <tr>
        <th>
          Character
        </th>
        <td>          
          <%girls.each do |tag| %>
            <%=toggle_tag tag%>
          <%end%>
        </td>
      </tr>
      <tr>
        <th>
          Season
        </th>
          <td>          
          <%seasons.each do |tag| %>
            <%=toggle_tag tag%>
          <%end%>
        </td>
      </tr>
      <tr>
        <th>
          Style
        </th>
        <td>          
          <%media.each do |tag| %>
            <%=toggle_tag tag.titlecase%>
          <%end%>
        </td>
      </tr>
      <tr>
        <th>
          Other Heroes
        </th>
        <td>          
          <%other_heroes.each do |tag|%>
            <%=toggle_tag tag.titlecase%>
          <%end%>
        </td>
      </tr>
      <tr>
        <th>
          Other Tags
        </th>
        <td>          
          <%@tags.each do |tag|%>
            <%next if base_tags_for_edit.downcase.include?(tag.downcase)%>
            <%next if tag.include?("+")%>
            <%=toggle_tag tag.titlecase%>
          <%end%>
        </td>
      </tr>
      <tr>
        <th>
          Add a tag
        </th>
        <td>          
          <%=form_tag add_tag_image_path(@image)%>
            <input type="text" name="tag">
            <input type="submit" value="Add Tag">
          </form>
        </td>
      </tr>
      <tr>
        <th>
          Add Related #
        </th>
        <td>         
          <%=form_tag toggle_match_image_path(@image)%>
            <input type="text" name="match_id" size="3">
          </form>
        </td>
      </tr>
      <%if @image.matched_images.any?%>
      <tr>
        <th>
          Related
        </th>
        <td>    
          <%@image.matched_images.each do |img|%>
            <%=form_tag toggle_match_image_path(@image)%>
              <input type="hidden" name="match_id" value="<%=img.id%>">
              <button><%=image_tag img.file.url(:thumb), :class=>"mini"%> X</button>
            </form>
          <%end%>      
        </td>
      </tr>
      <%end%>
    </table>
</div>
<h3>Add Another Image</h3>
<form action="/images" class="dropzone" method="post" id="my-awesome-dropzone"></form>
