<p id="notice"><%= notice %></p>
<%= link_to image_tag(@image.file.url(:thumb)), @image.file.url %><br/>
<div class="black">(Click to View Big)</div><br/>
<table class="tag-cloud dark">
    <tr>
        <th>View More:</th>
        <td><%@image.tag_list.each do |tag|%>
            <%=link_to tag.titlecase, images_path(:tag=>tag)%>
            <%end%>
        </td>
    </tr>
    <%if @image.matched_images.present?%>
    <tr>
        <th>Related:</th>
        <td class="related"><%@image.matched_images.each do |img|%>
            <%= link_to image_tag(img.file.url(:thumb), :class=>"mini"), image_path(img) %>
            <%end%>
        </td>
    </tr>
    <%end%>
</table><br/>
<%if logged_in?%>
<div>
    <div class="dark">
    <%= link_to 'Edit', edit_image_path(@image) %> |
    <%= link_to 'Delete',  @image,  method: :delete, data: { confirm: 'Are you sure?' } %> | 
    <%= link_to 'New Image', new_image_path %>

    </div>
</div>
<%end%>
<div>
    <div class="dark">
    <%= link_to 'Home', root_url %>
    </div>
</div>